<!---This is a duplitcate of the index.html template
1 - When you go to the next card it is always the french side showing -- DONE
2 - Create buttons on cards to hide a card -- DONE
3 - Option to show all cards again 
4 - Option to suffle cards
3 - Create a menu page
Login button / Sign up button (top of page?) / go to menu page / 
 - change category of cards
 - load personal cards / edit personal cards
 - start learning session
I need to create a combo box to select a category-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='purpleF.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>Welcome</title>
  </head>
  <body>
    
        <div class="container">
        <!---<h3>Learn French Challenge</h3>-->
        <div class="card">
          <div id ="cardFront">Bonjour, mon amour!</div>
          <div id ="cardBack" class="hidden">Hello, my love!</div>
          <button id="flipBtn" class="btn" >Flip</button>
          <button id="nextBtn" class="btn" >Next</button>
        </div>
      </div> -
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>